<div id="wrap">
    <span class="title">KHUROOM</span>
    <div>
        <input type="button" class="btn" onclick=" location.href='/auth/google'" value="LOGIN"/>
        <input type="button" class="btn" onclick=" location.href='/'" value="Go to Khuroom"/>
    </div>
</div>